body {
  margin: 0;
}

#wrapper {
  background: url(../images/wrap.jpg);
}

#main{
	width:1000px;
	margin:0px auto;
	padding:30px 0px;
}

.article {
  white-space: pre-wrap;
}


.article-image {
  margin: 10px 0px 20px 0px;
  max-width: 800px;
  width: 100%;
}

ul#head_menu {
  padding: 0;
}
#head_menu li {
  display: inline-block;
  padding-left: 30px;
}

li.free {
  list-style-image: url("/static/admin/img/icon-viewlink.svg");
}

/* VARIABLE DEFINITIONS */
:root {
  --message-success-bg: #dfd;
  --message-warning-bg: #ffc;
  --message-error-bg: #ffefef;
}

ul.messagelist {
    padding: 0;
    margin: 0;
}

ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: var(--message-success-bg) url(/static/admin/img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color: var(--body-fg);
}

ul.messagelist li.warning {
    background: var(--message-warning-bg) url(/static/admin/img/icon-alert.svg) 40px 14px no-repeat;
    background-size: 14px auto;
}

ul.messagelist li.error {
    background: var(--message-error-bg) url(/static/admin/img/icon-no.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}


/* forms */


button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 60%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#fafafa), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 2px 1px #fff;
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	padding: 5px 10px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 60%, #dcdcdc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#f5f5f5), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* IE10+ */
	background: linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
	border-color: #bbb #bbb #aaa #bbb;
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.15);
	box-shadow: inset 0 2px 2px rgba(0,0,0,.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=password],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	color: #111;
}
input[type=text],
input[type=password] {
	padding: 10px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}


#header{
	height:90px;
	background:url(/static/images/menu.png) top repeat-x
}

.top{
	height:90px;
	width:1000px;
	margin:0px auto;
}

.logo{
	float:left;
	background:#E10404;
	height:90px;
	width:170px;
	padding:0px 10px 0px 5px;
	text-align:center;
	font-family:Bitter,sans sans-serif;
}

.logo h1{
	margin:0px;
	padding:0px;
	font-weight:800;
	font-size:30px;
	line-height:90px;
}

.logo h1 a:link, .logo h1 a:visited{
	color:#fff;
	text-decoration:none;
}

/* TOP-MENU */
	
#botmenu{

	padding:0px 0px 0px 30px;
	font-size: 12px;
	overflow:hidden;
	width:720px;
	}
	
#submenu {
	margin: 0px 0px;
	padding:0px 0px;
	height:50px;
	}
	
#submenu ul {
	width: auto;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 0px;
	}
	
#submenu li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight:bold;
	text-transform:uppercase;
	}
	
#submenu li a {
	color: #fff;
	display: block;
    margin: 0;
	padding: 15px 10px 16px 10px;
	text-decoration: none;
	position: relative;
	}

#submenu li a:hover, #submenu li a:active, #submenu .current_page_item a  {
	color: #fff;

	}
	
#submenu li a.sf-with-ul {
	padding-right: 10px;
	}	
	

	
#submenu li li a, #submenu li li a:link, #submenu li li a:visited {
	color: #eee;
	font-size:12px;
	width: 148px; 
	margin: 0;
	padding: 10px 10px;
	border-bottom:1px solid #666;
	border-top:1px solid #888;
	border-left:1px solid #888;
	border-right:1px solid #666;
	position: relative;
	background:#7D7D7D;
	font-weight:normal;
	}
	
#submenu ul ul li:first-child{
	border-top:none;

}

#submenu ul ul li:last-child{
	border-bottom:none;

}	
	
#submenu li li:last-child{
	border-bottom:none;
}
		
#submenu li li a:hover, #submenu li li a:active {
	background:#666;
	color: #fff; 
	}


#submenu li ul {
	z-index: 9999;
	position: absolute;
	left: -999em;
	height: auto;
	width: 170px;
	margin: 0px 0px;
	padding: 0px;
	background:#282828;

	}

#submenu li ul a { 
	width: 150px;
	}

#submenu li ul a:hover, #submenu li ul a:active { 
	}

#submenu li ul ul {
	margin: -42px 0 0 169px;
	}

#submenu li:hover ul ul, #submenu li:hover ul ul ul, #submenu li.sfHover ul ul, #submenu li.sfHover ul ul ul {
	left: -999em;
	}

#submenu li:hover ul, #submenu li li:hover ul, #submenu li li li:hover ul, #submenu li.sfHover ul, #submenu li li.sfHover ul, #submenu li li li.sfHover ul {
	left: auto;
	}

#submenu li:hover, #submenu li.sfHover { 
	position: static;
	}


.clear{
	clear:both;
}

#content {
	float:left;
	width:670px;
	padding-bottom:20px;
	
}

#sidebar{
	width:270px;
	float:right;
	padding-bottom:20px;
}

#sidebar ul{
	margin:0px;
	padding:0px;
}

h3.sidetitl {
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom:10px;
	text-transform:uppercase;
   color:#444;
   border-bottom: 1px solid #ddd;
}

.sidebox {
    list-style: none;
    margin: 0px 0px 25px 0px;
}

.sidebox ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sidebox li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.sidebox ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.sidebox ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
}

.sidebox ul li a:link,.sidebox ul li a:visited {
    color: #666;
    text-decoration: none;
}

.sidebox ul li a:hover{
	color:#000;
}

.sidebox.widget_categories ul li,.sidebox.widget_pages ul li,.sidebox.widget_archive ul li,.sidebox.widget_links ul li,.sidebox.widget_meta ul li {
    border-bottom: 1px solid #fff;
   padding: 7px 0px;
}

.sidebox.widget_recent_entries ul li  {
	padding: 7px 0px;
    border-bottom: 1px solid #fff;
}

ul#recentcomments li.recentcomments {
    border-bottom: 1px solid #fff;
    padding: 5px 0;
}

.sidebox .textwidget p {
    padding: 0px 10px;
}

