{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!--meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" type="text/css" href='{% static "admin/css/responsive.css" %}'-->

    {% if request.is_mobile %}
    <script type="text/javascript" src='{% static "js/jquery.js" %}'></script>
    <script type="text/javascript" src='{% static "js/wptouch-6f557450ff1385557b353385fa635354b6fd1d11.js" %}'></script>
    <link href='{% static "/css/main_mobile.css" %}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" id="foundation_font_awesome_css-css" href='{% static "/css/font-awesome.min.css" %}' type="text/css" media="screen">
    <link rel="stylesheet" id="foundation_pushit-css" href='{% static "/css/pushit.css" %}' type="text/css" media="all">
    <link rel="stylesheet" id="wptouch-parent-theme-css-css" href='{% static "/css/style.css" %}' type="text/css" media="all">
    <link rel="stylesheet" id="wptouch-theme-css-css" href='{% static "/css/style(1).css" %}' type="text/css" media="all">
    <link rel='stylesheet' href='{% static "/css/style.min.css" %}' type='text/css'>
    <link rel='stylesheet' href='{% static "/css/styles.css" %}' type='text/css'>
    <link rel="stylesheet" href='{% static "/css/pagenavi-css.css" %}' type="text/css" media="all">

    <link rel='stylesheet' href='{% static "/css/styles_inner.css" %}' type='text/css'>
    {% else %}
    <link href='{% static "/css/main.css" %}' rel='stylesheet' type='text/css'>
    {% endif %}

</head>

<body class="css-videos dark-header light-body circles">
<!-- body class="page-template-default page page-id-32 css-videos tablet landscape android theme-bauhaus dark-header light-body light-post-head circles off-canvas" -->
    {% if request.is_mobile %}
    <div class="pushit pushit-right" style="transition: -webkit-transform 0.33s cubic-bezier(0.29, 0.05, 0.14, 0.87) 0s;">
        <div id="menu" class="wptouch-menu show-hide-menu">
            {% include "menu.html" %}
        </div>
    </div>

    <div class="page-wrapper" style="position: relative; transition: -webkit-transform 0.33s cubic-bezier(0.29, 0.05, 0.14, 0.87) 0s;">
        <header id="header-title-logo">
            <a href="{% url 'all_courses' %}" class="header-center tappable">
                <h1 class="heading-font">Курсы магии дела</h1>
            </a>
            <div id="menu-toggle" class="menu-btn tappable show-hide-toggle" data-effect-target="menu" data-menu-target="menu" role="button"><!--icon-reorder--></div>
        </header>
    {% else %}
    <div id="wrapper">
        <header id="header">
        <div class="top">
	    <div class="logo">
<a href="{% url 'all_courses' %}"><img class="aligncenter";" alt="Магия дела" src='{% static "/images/logo11.jpg" %}' width="170" height="90" /></a>
	    </div>
	    <div id="botmenu">
		<div id="submenu" class="menu-glavnoe-menyu-container">
		{% include 'menu.html' %}
               </div>
           </div>
	    <div class="conta">
                <a href="http://magiyadela.com/kontakty/"><img class="aligncenter";" alt="Магия дела" src="/static/images/CONTacts.png" /></a>
	    </div>		
        </div>
	</header>
    {% endif %}


       {% if request.is_mobile %}
       <div id="content">
           <div class="post-page-head-area bauhaus">
                <h2 class="post-title heading-font">{% block title_1 %}{% endblock %}</h2>
           </div>
           <div id="mobile_page">
       {% else %}
        <div id="main">
            <div id="content">
       {% endif %}

            {% block page %}{% endblock %}

            </div> <!-- content -->
        {% if request.is_mobile %}
           </div>
    </div> <!-- page-wrapper -->
    <div id="pushit-overlay"></div>
        {% else %}
            <div id="sidebar">

<!-- Sidebar widgets -->
<ul>
    <li class="sidebox widget_nav_menu">
	<h3 class="sidetitl">Личный кабинет</h3>
        {% if request.user.is_authenticated %}
	<div class="menu-stati-container">
	    <ul class="menu">
	        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'logout' %}">Выход</a></li>
	        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'cabinet' %}">Поменять пароль</a></li>
            </ul>
        </div>
	<h3 class="sidetitl">Мои курсы</h3>
	<div class="menu-stati-container">
	    <ul class="menu">
	        {% if request.user.to_courses.count > 0 %}
	            {% for u_course in request.user.to_courses.all %}
                        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ u_course.course.get_absolute_url }}">{{ u_course.course.name }}</a></li>
	            {% endfor %}
	        {% else %}
                <li class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent"><a href="{% url 'all_courses' %}">Выберите тут...</a></li>
                {% endif %}
            </ul>
        </div>
        {% else %}
	<div class="menu-stati-container">
	    <ul class="menu">
	        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'login' %}">Вход</a></li>
	        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'registration' %}">Регистрация</a></li>
            </ul>
        </div>
        {% endif %}
    </li>
</ul>

            </div> <!-- sidebar -->
            <div class="clear"></div>
        </div>  <!-- main -->
    </div> <!-- wrapper -->
    {% endif %}
</body>
</html>
