{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href='{% static "/css/main.css" %}' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{% static "admin/css/responsive.css" %}'>
</head>
<body>
<div id="wrapper"><ul id="head_menu">
<li><a href="{% url 'all_courses' %}">На главную</a></li>
{% if request.user.is_authenticated %}
    <li>Вы вошли, как {{ request.user.username }}.</li><li><a href="{% url 'cabinet' %}">Личный кабинет</a></li><li><a href="{% url 'logout' %}">ВЫХОД</a></li>
    {% if request.user.is_staff %}<li><a href="{% url 'admin:index' %}">Админка</a></li>{% endif %}
{% else %}
    <li><a href="{% url 'login' %}">Вход/Регистрация</a></li>
{% endif %}
</ul>
<hr>
<div id="main">

{% block page %}{% endblock %}
</div>
</div>
</body>
</html>
