{% load static %}

		    <ul class="menu-tree parent-links">
		        {% for name, url, inner in request.main_menu %}
		        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-type-custom menu-item-object-custom menu-item-home tappable {% if inner %}menu-item-has-children has_children{% endif %}">
		        {% if request.is_mobile %}<img src='{% static "/images/Paper.png" %}' alt="menu-icon">{% endif %}
		        <a href="{{ url }}">{{ name }}</a>
		            {% if inner %}
		            <ul class="sub-menu">
		                {% for name_inner, url_inner in inner %}
		                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-type-custom menu-item-object-custom menu-item-home tappable">
		                {% if request.is_mobile %}<img src='{% static "/images/Paper.png" %}' alt="menu-icon">{% endif %}
		                <a href="{{ url_inner }}">{{ name_inner }}</a>
		                </li>
		                {% endfor %}
		            </ul>
		            {% endif %}
		        </li>
		        {% endfor %}
                   </ul>

