{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block page %}
{% if request.user.username == request.user.email and not request.user.profile.is_verified %}
<p><ul class="messagelist">
<li class="error">E-mail не подтвержден</li>
</ul>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="confirm_email">Подтвердить</button>
</form></p>
{% endif %}

    <ul class="messagelist">
    {% if form.errors %}
     {% for field in form %}
        {% for error in field.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
     {% endfor %}
    {% endif %}
    </ul>

            <form method="post">
              {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>{{ field }}
        </p>
    {% endfor %}
              <button type="submit">Сохранить</button>

            </form>

{% endblock %}
