{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block page %}
{% if request.user.username == request.user.email and not request.user.profile.is_verified %}
<p><ul class="messagelist">
<li class="error">E-mail не подтвержден</li>
</ul>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="confirm_email">Подтвердить</button>
</form></p>
{% endif %}

    <ul class="messagelist">
    {% if form.errors %}
     {% for field in form %}
        {% for error in field.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
     {% endfor %}
    {% endif %}
    </ul>

    <form method="post">
        {% csrf_token %}
        <p>{{ form.first_name.label_tag }}<br>{{ form.first_name }}</p>
        <p>{{ form.say_about_new_lesson }} {{ form.say_about_new_lesson.label_tag }}</p>
        <p>{{ form.say_about_new_comments }} {{ form.say_about_new_comments.label_tag }}</p>
        <p>{{ form.password1.label_tag }}<br>{{ form.password1 }}</p>
        <p>{{ form.password2.label_tag }}<br>{{ form.password2 }}</p>
        <button type="submit">Сохранить</button>
    </form>

{% endblock %}
