{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block page %}

    <h1>Регистрация</h1>
    {% if form.errors %}
    <ul class="messagelist">
     {% for field in form %}
        {% for error in field.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
     {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }} {{ field }}
        </p>
    {% endfor %}
    <button type="submit">Зарегистрироваться</button>
    </form>
    или <a href={{ link_else }}>войти</a>

{% endblock %}
