{% extends 'base.html' %}

{% block title %}Все курсы{% endblock %}

{% block page %}

<p>На этом сайте хранятся авторские материалы Башинской Анны по прошедшим курсам по Эзотерическому Маркетингу и Дизайну Человека.</p>
<p>Здесь вы можете получить доступ к их самостоятельному изучению, а также записаться на будущие группы.</p>
<p>Дата ближайшего курса будет озвучена тут.</p>

{% if categories|length == 0 %}
   Ничего нет. Попробуйте зайти сюда когда-нибудь потом.
{% else %}
    {% for category in categories %}
        <h2>{{ category.name }}</h2>
        <ul>
        {% for course in category.courses.all %}
            {% if course.url %}
        <li{% if course.is_free %} class="free"{% endif %}><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}

{% endblock %}
