{% extends 'base.html' %}

{% block title %}Все курсы{% endblock %}

{% block page %}

{% if courses|length == 0 %}
   Ничего нет. Попробуйте зайти сюда когда-нибудь потом.
{% else %}
    {% regroup courses by category as categories_list %}
    {% for category in categories_list %}
        <h2>{{ category.grouper }}</h2>
        <ul>
        {% for course in category.list %}
            {% if course.url %}
        <li{% if course.is_free %} class="free"{% endif %}><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}

{% endblock %}