{% extends 'base.html' %}

{% block title %}{{ lesson.name }}{% endblock %}

{% block page %}

<i><a href="{{ lesson.course.get_absolute_url }}">"{{ lesson.course }}"</a></i>
{% if can_see or course_paid %}
    {% if lesson.prev_lesson %}
        <p><a href="{{ lesson.prev_lesson.get_absolute_url }}">Предыдущий урок</a></p>
    {% endif %}
    {% if lesson.next_lesson %}
        <p><a href="{{ lesson.next_lesson.get_absolute_url }}">Следующий урок</a></p>
    {% endif %}
{% endif %}
<h1>{{ lesson.name }}</h1>

{% if lesson.course.status == "NEW" %}
    <p>курс не активен, урок доступен только для ПРЕДПРОСМОТРа</p>
{% endif %}

{% if can_see or course_paid %}
    {% if lesson.picture %}
    <p><img class="article-image" src="{{ lesson.picture.file.url }}"></p>
    {% endif %}

    {% if lesson.video %}
    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ lesson.code_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    {% endif %}

    <p><div class="article">{{ lesson.info|safe }}</div></p>

    {% if lesson.questions %}
        <h2>Домашнее задание</h2>
        <p><div class="article">{{ lesson.questions|safe }}</div></p>
    {% endif %}

    {% if lesson.prev_lesson %}
        <p><a href="{{ lesson.prev_lesson.get_absolute_url }}">Предыдущий урок</a></p>
    {% endif %}
    {% if lesson.next_lesson %}
        <p><a href="{{ lesson.next_lesson.get_absolute_url }}">Следующий урок</a></p>
    {% endif %}


    {% if course_paid__TODO %}
        <br><br>(тут должна быть кнопочка "пометить урок пройденным")
        <br><br>(и еще должна быть форма, куда можно задать вопрос по уроку)
    {% endif %}

    {% for comm in lesson.published_comments.all %}
        <div class="block_comment">
        {% if comm.user.first_name %}
            {{ comm.user.first_name }}:
        {% else %}
            {% if comm.text_question %}
                Анонимно:
            {% endif %}
        {% endif %}
        {% if comm.text_question %}
            <div class="article question">{{ comm.text_question }}</div>
        {% endif %}
        {% if comm.text_answer %}
            <div class="article answer">{{ comm.text_answer|safe }}</div>
        {% endif %}
        <hr></div>
    {% endfor %}

{% endif %}

{% endblock %}
